:root {
  --cl-text-main: #1c4b82;
  --cl-text-main-2: #252525;
  --cl-sub-title: #707070;
  --cl-sub-title-2: #ee592b;
  --cl-text-banner: #454545;
  --cl-bg-main: #1c4b82;
  --cl-bg-main-2: #ee592b;
  --cl-bg: #483c3c;
  --cl-text-f: #515151;
  --border-main: #1c4b82;
  --border-inp: #b9b9b9;
  --cl-text-inp: #707070;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.ttf") format("truetype");
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.ttf") format("truetype");
  font-display: swap;
  font-weight: 600;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.ttf") format("truetype");
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.ttf") format("truetype");
  font-display: swap;
  font-weight: 700;
}
body {
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  background-color: #ffffff;
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
body::-webkit-scrollbar-track {
  background-color: #fff;
}
body::-webkit-scrollbar {
  width: 7px;
  background-color: #f5f5f5;
}
body::-webkit-scrollbar-thumb {
  background: #1d8dc5;
}
a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
input,
textarea,
select {
  outline: none;
}
.s-content ol {
  list-style: decimal;
  margin-left: 15px;
  margin-bottom: 10px;
}
.s-content ul {
  list-style: initial;
  margin-left: 15px;
  margin-bottom: 10px;
}
.s-content li {
  list-style: inherit;
  margin-bottom: 5px;
}
.s-content p {
  margin-bottom: 10px;
}
.s-content img {
  display: block;
  max-width: 100%;
  margin: 10px auto;
  width: auto !important;
  -o-object-fit: contain;
  object-fit: contain;
  height: auto !important;
}
.s-content table,
.s-content iframe {
  max-width: 100%;
  width: 100%;
}
.s-content table {
  border-collapse: collapse;
  width: 100%;
  border: solid 1px rgba(0, 0, 0, 0.431372549);
}
.s-content table td {
  border-collapse: collapse;
  border: solid 1px rgba(0, 0, 0, 0.431372549);
  padding: 3px;
}
.s-content h1,
.s-content h2,
.s-content h3,
.s-content h4,
.s-content h5,
.s-content h6 {
  display: block;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
.s-content h1 {
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}
.s-content h2 {
  font-size: 1.5em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
.s-content h3 {
  font-size: 1.17em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.s-content h4 {
  font-size: 1em;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}
.s-content h5 {
  font-size: 0.83em;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}
.s-content h6 {
  font-size: 0.67em;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}
.header {
  box-shadow: 0px 4px 10px 0px #0000001a;
  border-bottom: 1px solid #ebebeb;
}
.header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
}
.btn {
  padding: 0.5rem;
  font-weight: 500;
  font-size: 0.875rem;
}
.btn-continue-shopping {
  --color: #00a97f;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
}

.c-img {
  position: relative;
  display: block;
  overflow: hidden;
}
.c-img img,
.c-img iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.item-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.item-video.active::after {
  content: unset;
}
.menu-footer ul li a {
  color: #000;
}
.menu-footer ul li:not(:last-child) {
  margin-bottom: 16px;
}
input:-internal-autofill-selected {
  background-color: transparent !important;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s;
}
.menu ul li {
  position: relative;
}
.menu ul li a,
.menu ul li span {
  padding: 0.5rem;
  font-size: 1rem;
}
.menu ul li ul li a {
  padding: 0.5rem;
  display: block;
}
.menu .btn-dropdown-menu {
  width: 1rem;
  height: 1rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 1rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.info-management ul li a.active {
  background-color: #8b4513;
  color: #ffffff;
}
@media (min-width: 1024px) {
  .item-filter {
    transition: all 0.3s;
  }
  .item-filter:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
}
@media (min-width: 1280px) {
  body {
    font-size: 16px;
  }
  .menu > ul > li {
    display: inline-block;
  }
  .menu ul li:hover ul {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
  .menu > ul > li:hover > ul {
    display: block;
    /* transition: all 0.3s; */
    background-color: #fff;

    top: 100%;
  }
  .menu ul li:hover ul {
    display: block;
  }
  .container {
    max-width: 1150px;
  }
  body {
    font-size: 16px;
  }
  .menu > ul > li {
    margin: 0 1rem;
  }
  .menu > ul > li > a {
    padding: 1.25rem 0;
    display: inline-block;
  }
  .menu > ul > li > ul {
    position: absolute;
    top: 150%;
    left: 0;
    min-width: 230px;
    max-width: 180%;
    white-space: nowrap;
    background: white;
    z-index: 10;
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .menu > ul {
    flex: 1;
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1320px !important;
  }
}
@media (max-width: 1651px) {
  .header .btn {
    padding: 8px 16px !important;
    min-width: auto;
  }
}
@media (max-width: 1279px) {
  .menu ul li ul {
    display: none;
    padding-left: 1rem;
  }
  .menu .btn-dropdown-menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 41.5px;
    height: 41.5px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1rem;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    max-width: min(400px, 80%);
    z-index: 100;
    background: var(--cl-bg-main);
    overflow-y: auto;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .menu ul li {
    border-top: 1px solid #fff;
  }
  .menu.active {
    left: 0;
  }
  .over-lay.show {
    right: 0;
  }
  .menu ul li a,
  .menu ul li span {
    display: block;
    padding: 12px 15px;
    font-size: 1rem;
  }
}
@media (max-width: 1023px) {
}
.swiper-gallery-thumbs .swiper-slide {
  height: auto !important;
  border: 1px solid transparent;
  transition: all 0.5s;
  border-radius: 1.25rem;
  overflow: hidden;
}
.swiper-gallery-thumbs .swiper-slide.swiper-slide-thumb-active {
  border: 1px solid #000000;
}
.swiper-gallery-thumbs .swiper-wrapper {
  justify-content: space-between;
}
